* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-image: url('./../Corona/img/a.jpg'); */
}

.bg {
    width: 100%;
    min-height: 100vh;
    /* background-image: url('./../Corona/img/c.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
    opacity: 1;
    background-color: #F0F0F0;
}

.container {
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 100vh;
    width: 80%;
}

.header-app {
    width: 100%;
    height: 75px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-app img {
    width: 200px;
    height: 100%;
}

.card-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-app {
    width: 350px;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 5px solid blue;
}

.card-app:nth-child(3) {
    border-bottom: 5px solid #CC0A0A;
}

.card-app:nth-child(2) {
    border-bottom: 5px solid #0ACC0A;
}

.card-app:nth-child(4) {
    border-bottom: 5px solid #1E2F3A;
}

.CardActionArea {
    width: 100%;
    height: 100%;
}

.ld {
    text-align: center;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .card {
        width: 100%;
        height: auto;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 800px) {
    .card {
        width: 100%;
        height: auto;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        padding-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
        min-height: 100vh;
        width: 90%;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        padding-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
        min-height: 100vh;
        width: 90%;
    }
    .card {
        width: 100%;
        height: auto;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        padding-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
        min-height: 100vh;
        width: 90%;
    }
    .card-app {
        width: 300px;
        height: 100%;
        margin: 10px;
        border-bottom: 5px solid blue;
    }
}

.chart-container {
    width: 100%;
    height: auto;
    margin-top: 40px;
    /* background-color: white; */
}

.option-chart {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    display: flex;
    /* justify-content: center; */
    margin-top: 10px;
}

.option-chart-item {
    width: 200px;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: #1E2F3A;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.option-chart select {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    /* background-color: #0ACC0A; */
    border: 2px solid #1E2F3A;
    color: #1E2F3A;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}

.chart-model {
    width: 100%;
    height: auto;
    background-color: #1E2F3A;
    padding: 10px;
}

.vn-container {
    width: 100%;
    height: 370px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 20px;
}

.vn-container-left {
    width: 300px;
    height: 100%;
}

.vn-container-right {
    width: 700px;
    height: 100%;
    background-color: #1E2F3A;
    padding: 10px;
}

.card-app-vn {
    width: 100%;
    height: 100%;
    min-height: 170px;
    border-bottom: 5px solid red;
}

.CardActionArea-vn {
    width: 100%;
    height: 100%;
}

.vn-layout-container {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.bar-chart {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.bar-chart-1 {
    width: 45%;
    height: auto;
    padding: 10px;
    background-color: #1E2F3A;
}

.bar-chart-2 {
    width: 45%;
    height: auto;
    background-color: #1E2F3A;
    padding: 10px;
}

@media only screen and (max-width: 1000px) {
    .vn-container {
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .vn-container-left {
        width: 100%;
        height: 100%;
    }
    .vn-container-right {
        width: 100%;
        height: auto;
        background-color: #1E2F3A;
        margin-top: 20px;
    }
    .bar-chart {
        width: 100%;
        height: auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .bar-chart-1 {
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: #1E2F3A;
    }
    .bar-chart-2 {
        width: 100%;
        margin-top: 10px;
        height: auto;
        background-color: #1E2F3A;
        padding: 10px;
    }
}